[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python main.py"

[packages]
fastapi = "==0.118.0"
uvicorn = "==0.37.0"
injector = "==0.22.0"
fastapi-injector = "==0.8.0"

[dev-packages]

[requires]
python_version = "3.13"
